/* basics */
body {
    font-family: Tahoma, sans-serif;
    background-color: #4f834f; 
    color: white;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    font-family: "MV BOLI";
    background-color: #145a32;
    text-align: center;
    padding: 20px;
}

/* Main content */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    color: #052205; 
    border-radius: 8px;
}

/* Lists */
ol, ul {
    margin-left: 20px;
}

/* Image */
figure {
    text-align: center;
    margin: 20px auto;
}
figure img {
    max-width: 300px;
    width: 100%;
    border-radius: 6px;
}
figcaption {
    font-size: 0.9em;
    color: #333;
}

/* Links */
a {
    color: #145a32;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Button */
.button {
    display: inline-block;
    background-color: #145a32;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    text-decoration: none;
}
.btn:hover {
    background-color: #0e3d23;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #145a32;
    color: white;
    margin-top: 20px;
}
